
body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
header {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

header h1 {
    margin: 30px;
    font-size: 64px;
    font-weight: bold;
    color: rgb(24, 119, 242);
}

header a {
    text-decoration: none;
    color: rgb(24, 119, 242);
    font-weight: bold;
}

header p {
    font-size: 30px;
    color: #606770;
    margin: 10px 0;
}

main {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 3px 5px rgb(168, 165, 165);
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}
.line{
    color: #3b5998;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #606770;
    margin-bottom: 5px;
}

input {
    width: 360px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    margin: 5px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #3b5998;
    color: white;
}
button:hover{
    background-color: rgb(15, 71, 92);
}
button[type="button"] {
    background-color: #4CAF50;
    color: white;
}
button:hover{
    background-color: rgb(15, 71, 92);
}
a{
    color: white;
    text-decoration: none;
}
